<div class="sidebar-container">
  <mat-nav-list>
    <div class="nav-item" *ngFor="let item of menuItems">
      <a mat-list-item
         [routerLink]="item.route"
         routerLinkActive="active-link"
         [matTooltip]="isCollapsed ? item.label : ''"
         matTooltipPosition="right"
         [matTooltipDisabled]="!isCollapsed"
         matTooltipShowDelay="400"
         [attr.aria-label]="item.label">

        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span class="nav-text">{{ item.label }}</span>

      </a>
    </div>
  </mat-nav-list>
</div>